@font-face {
    font-family: 'Mona-Sans';
    src: url('./fonts/Mona-Sans.ttf') format('truetype');
}

:root {
    /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
    font-family: 'Mona-Sans', sans-serif;

    color-scheme: light dark;
    background: url("./assets/ellipse-bg.png") no-repeat rgb(14,12,20);
}

body, html {
    height: 100%;
    width: 100%;
    margin: 0;
}

.glass, .glass:hover, .glass:focus, .glass:active {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

.glass2, .glass2:hover, .glass2:focus, .glass2:active {
    background: rgba( 255, 255, 255, 0.05 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 11px );
    -webkit-backdrop-filter: blur( 11px );
}

.glass3 {
    /* background contains the primary color rather then white */
    background: rgba( 109, 111, 243, 0.2 );
    backdrop-filter: blur( 16.5px );
    -webkit-backdrop-filter: blur( 16.5px );
}
