@font-face {
    font-family: 'Mona-Sans';
    src: url('./fonts/Mona-Sans.ttf') format('truetype');
}

:root {
    /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
    font-family: 'Mona-Sans', sans-serif;

    color-scheme: light dark;
    background-color: #141414;
    background: rgb(14,12,20);
    background: radial-gradient(circle, rgba(14,12,20,1) 0%, rgba(16,31,39,1) 71%, rgba(29,29,71,1) 100%);
}

body, html {
    height: 100%;
    width: 100%;
    margin: 0;
}
